@use 'base/mixins' as m;
@use 'base/variables' as v;

.navegacion {
    display: flex;
    flex-direction: column;
    @include m.desktop {
        flex-direction: row;
    }
    &__enlace {
        color: v.$blanco;
        padding: 2rem;
        font-weight: 300;
        text-align: center;

        &--actual,
        &:hover {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }


}